<form action="/amount">
  <label for="changeForm">What is the amount of money you have?</label>
  <input id="changeForm" name="changeForm" type="text">
  <button id="changeButton" type="submit">Get Change!</button>
</form>
